.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-right: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
}